altgraph==0.17.2 ; python_version >= "3.9" and python_version < "3.11"
bookops-bpl-solr @ git+https://github.com/BookOps-CAT/bookops-bpl-solr.git@ea9c70a16cc51907e942546e3c365b4a003930fe ; python_version >= "3.9" and python_version < "3.11"
bookops-nypl-platform @ git+https://github.com/BookOps-CAT/bookops-nypl-platform.git@25fde6b4106853969ce5feb8747caea714917085 ; python_version >= "3.9" and python_version < "3.11"
certifi==2022.6.15 ; python_version >= "3.9" and python_version < "3.11"
cffi==1.15.1 ; python_version >= "3.9" and python_version < "3.11"
charset-normalizer==2.1.0 ; python_version >= "3.9" and python_version < "3.11"
cryptography==36.0.2 ; python_version >= "3.9" and python_version < "3.11"
cycler==0.11.0 ; python_version >= "3.9" and python_version < "3.11"
et-xmlfile==1.1.0 ; python_version >= "3.9" and python_version < "3.11"
fonttools==4.34.4 ; python_version >= "3.9" and python_version < "3.11"
future==0.18.2 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "win32"
greenlet==1.1.2 ; python_version >= "3.9" and python_version < "3.11" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
idna==3.3 ; python_version >= "3.9" and python_version < "3.11"
importlib-metadata==4.12.0 ; python_version >= "3.9" and python_version < "3.10"
jeepney==0.8.0 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "linux"
keyring==23.7.0 ; python_version >= "3.9" and python_version < "3.11"
kiwisolver==1.4.4 ; python_version >= "3.9" and python_version < "3.11"
loggly-python-handler==1.0.1 ; python_version >= "3.9" and python_version < "3.11"
macholib==1.16 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "darwin"
matplotlib==3.5.2 ; python_version >= "3.9" and python_version < "3.11"
numpy==1.23.1 ; python_version >= "3.9" and python_version < "3.11"
openpyxl==3.0.10 ; python_version >= "3.9" and python_version < "3.11"
packaging==21.3 ; python_version >= "3.9" and python_version < "3.11"
pandas==1.4.3 ; python_version >= "3.9" and python_version < "3.11"
pefile==2022.5.30 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "win32"
pillow==9.2.0 ; python_version >= "3.9" and python_version < "3.11"
pycparser==2.21 ; python_version >= "3.9" and python_version < "3.11"
pyinstaller-hooks-contrib==2022.8 ; python_version >= "3.9" and python_version < "3.11"
pyinstaller==5.2 ; python_version >= "3.9" and python_version < "3.11"
pymarc==4.2.2 ; python_version >= "3.9" and python_version < "3.11"
pymysql==1.0.2 ; python_version >= "3.9" and python_version < "3.11"
pyparsing==3.0.9 ; python_version >= "3.9" and python_version < "3.11"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "3.11"
pytz==2022.1 ; python_version >= "3.9" and python_version < "3.11"
pywin32-ctypes==0.2.0 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "win32"
requests-futures==1.0.0 ; python_version >= "3.9" and python_version < "3.11"
requests==2.28.1 ; python_version >= "3.9" and python_version < "3.11"
secretstorage==3.3.2 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "linux"
setuptools==80.9.0 ; python_version >= "3.9" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.11"
sqlalchemy==1.4.39 ; python_version >= "3.9" and python_version < "3.11"
urllib3==1.26.10 ; python_version >= "3.9" and python_version < "3.11"
zipp==3.8.1 ; python_version >= "3.9" and python_version < "3.10"
